{% if not args %}
{% set args = {
        logo: {
            src: "./../../images/header/logo.svg",
            alt: "logo"
            },
        list: [
        {
            href: "#",
            name: "Home",
        },
        {
            href: "#",
            name: "About us",
        },
        {
            href: "#",
            name: "Our service",
        },
        {
            href: "#",
            name: "Pricing",
        },
        {
            href: "#",
            name: "More",

        },
        ],

        buttons: [
        {
            name: "Login",
            href: "#"
        },
        {
            name: "Sign Up",
            href: "#"
        },
        ],
} %}
{% endif %}




<header class="header">
    <div class="header__container">
        <div class="header__wrap">
            <div class="header__logo">
                <a class="header__logo-link" href="#">
                    {% if args.logo.src and args.logo.alt %}
                    <img class="header__logo-img" src="{{ args.logo.src }}" alt="{{ args.logo.alt }}">
                    {% endif %}
                </a>
            </div>

            <div class="header__menu">
                <nav class="header-nav">
                    {% if args.list|length %}
                    <ul class="header-nav__list">

                        {% for item in args.list %}
                        <li class="header-nav__item">
                            {% if item.href and item.name %}
                            <a class="header-nav__link header-nav__link--active" href="{{ item.href }}">{{ item.name }}</a>
                            {% endif %}

                            <!-- <ul>
                                <li><a href="">Shop</a></li>
                                <li><a href="">Our team</a></li>
                                <li><a href="">Contact</a></li>
                            </ul> -->


                            <!-- <select id="more" name="More">
                                <option value="More">More</option>
                                <option value="Shop">Shop</option>
                                <option value="Our team">Our team</option>
                                <option value="Contact">Contact</option>
                            </select> -->

                        </li>
                        {% endfor %}
                    </ul>

                    {% endif %}
                </nav>

                <div class="header__auth">
                    {% for buttons in args.buttons %}
                    <div class="header__link">
                        {% if buttons.href and buttons.name|length %}
                        <a class="header__btn btn header__btn--active" href="{{ buttons.href }}">{{ buttons.name }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</header>
