{% if not args %}
{% set args = {
        logo: {
            src: "./../../images/header/logo.svg",
            alt: "logo"
            },
        list: [
        {
            href: "#",
            name: "Home",
        },
        {
            href: "#",
            name: "About us",
        },
        {
            href: "#",
            name: "Our service",
        },
        {
            href: "#",
            name: "Pricing",
        },
        {
            href: "#",
            name: "Shop",
        },
        {
            href: "#",
            name: "Our team",
        },
        {
            href: "#",
            name: "Contacts",
        },
        ],

        button: [
        {
            name: "Login",
            href: "#"
        },
        {
            name: "Sign Up",
            href: "#"
        },
        ],
} %}
{% endif %}




<header class="header">
    <div class class="header__container">
        <div class="header__wrap">
            <div class="header__logo">
                <a class="header__logo-link" href="#">
                    {% if args.logo.src and args.logo.alt %}
                    <img class="header__logo-img" src="{{ args.logo.src }}" alt="{{ args.logo.alt }}">
                    {% endif %}
                </a>
            </div>

            <div class="header-inner">
                <nav class="header-nav">
                    {% if args.list|length %}
                    <ul class="header-nav__list">

                        {% for item in args.list %}
                        <li class="header-nav__item">
                            {% if args.list.href and args.list.name %}
                            <a class="header-nav__link" href="{{ args.list.href }}">{{ args.list.name }}</a>
                            {% endif %}
                        </li>
                        {% endfor %}

                    {% endif %}
                </nav>

                <div class="header__auth">
                    {% if args.button|length %}
                    <div class="header__link">
                        {% if args.button.href and args.button.name %}
                        <a class="header__btn btn" href="{{ args.button.href }}">{{ args.button.name }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
