{% if not args %}
	{% set args = {
        list: [
            {
                href: "#",
                name: "Skin glow",
            },
            {
                href: "#",
                name: "FAQs",
            },
            {
                href: "#",
                name: "Blog ",
            },
            {
                href: "#",
                name: "Contacts",
            },
			
        ],
        logo: {
            src: "./../../images/svg_sprite_inline/ic-logoVitami.svg",
        },
        btn: {
            name: "Basket ",
            src: "./../../images/svg_sprite_inline/ic-basket.svg",
        },
		socials: [
            {
                href: "#",
                src: "./../../images/svg_sprite_inline/ic-facebook.svg",
            },
            {
                href: "#",
                src: "./../../images/svg_sprite_inline/ic-instagram.svg",
            },
            {
                href: "#",
                src: "./../../images/svg_sprite_inline/ic-twitter.svg",
            },
        ],
    } %}
{% endif %}


<header class="header">
	<div class="header__wrap">
		<div class="header__inner">
			<nav class="header__nav">
				{% if args.list|length %}
					<ul class="header__nav-item">
						{% for item in args.list %}
							<li class="header__nav-list">
								{% if item.href and item.name %}
									<a class="header__nav-link" href="{{ item.href }}">{{ item.name }}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</nav>
			<div class="header__burger js-header__menu">
				<img class="header__burger-menu" src="./../../images/svg_sprite_inline/ic-burgerBtn.svg" alt="">
			</div>
		</div>

		<div class="header__logo">
			<a class="header__logo-link" href="/">
				{% if args.logo.src %}
					<img class="header__logo-img" src="{{ args.logo.src }}">
				{% endif %}
			</a>
		</div>

		<div class="header__basket">
			{% if args.btn.name and args.btn.src %}
				<button class="header__basket-btn">
					<p class="header__basket-desc">
						{{ args.btn.name }}</p>
					<div class="header__basket-wrap">
						<img class="header__basket-img" src="{{ args.btn.src }}" alt="">
						<span class="header__basket-sum">15</span>
					</div>
				</button>
			{% endif %}
		</div>
	</div>
</header>


<div class="header-modal is-open">
	<div class="header-modal__wrap">
		<div class="header-modal__burger">
			<img class="header-modal__burger-close" src="./../../images/svg_sprite_inline/ic-end.svg" alt="">
		</div>

		<div class="header-modal__logo">
			<a class="header-modal__logo-link" href="/">
				{% if args.logo.src %}
					<img class="header-modal__logo-img" src="{{ args.logo.src }}">
				{% endif %}
			</a>
		</div>

		<div class="header-modal__basket">
			{% if args.btn.name and args.btn.src %}
				<button class="header-modal__basket-btn">
					<p class="header-modal__basket-desc">
						{{ args.btn.name }}</p>
					<div class="header-modal__basket-wrap">
						<img class="header-modal__basket-img" src="{{ args.btn.src }}" alt="">
						<span class="header-modal__basket-sum">15</span>
					</div>
				</button>
			{% endif %}
		</div>
	</div>

	<div class="header-modal__inner">
		<nav class="header-modal__nav">
			{% if args.list|length %}
				<ul class="header-modal__nav-item">
					{% for item in args.list %}
						<li class="header-modal__nav-list">
							{% if item.href and item.name %}
								<a class="header-modal__nav-link" href="{{ item.href }}">{{ item.name }}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</nav>

		<div class="header-modal__socials">
			{% if args.socials|length %}
				<ul class="header-modal__socials-item">
					{% for item in args.socials %}
						<li class="header-modal__socials-list">
							{% if item.href and item.src %}
								<a class="header-modal__socials-link" href="{{ item.href }}">
									<img class="header-modal__socials-img" src="{{ item.src }}" alt="">
								</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>

</div>
