<article class="c-card">
    {% if args.img.src %}
    <div class="c-card__picture">
        <img class="c-card__img" src="{{ args.img.src }}" alt="{{ args.img.alt }}">
    </div>
    {% endif %}
    
    <div class="c-card__content">
        {% if args.title %}
        <h3 class="c-card__subtitle el-subtitle">{{ args.title }}</h3>
        {% endif %}

        {% if args.text %}
        <p class="c-card__text el-text">{{ args.text }}</p>
        {% endif %}

        <div class="c-card__link-btn">
            {% if args.link.href and args.link.name %}
            <a class="c-card__link" href="{{ args.link.href }}">{{ args.link.name }}</a>
            {% endif %}
        </div>

        {% if args.price %}
        <p class="c-card__price">{{ args.price }}</p>
        {% endif %}

        {% if args.btn %}
        <button class="c-card__btn btn">{{ args.btn }}</button>
        {% endif %}
    </div>
</article>